name: Deploy

on:  
  push:
    branches:
      - main

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - run: dotnet build
    - run: dotnet test
    - run: npm i
      working-directory: ./DotnetTemplate.Web
    - run: npm run build
      working-directory: ./DotnetTemplate.Web
    - run: npm run lint
      working-directory: ./DotnetTemplate.Web
    - run: npm t
      working-directory: ./DotnetTemplate.Web

  publish_to_registry:
    name: Publish to registry
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v2
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: mattbsoftwire/dotnettemplate
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        snapshot: true

  slack:
    name: Slack
    needs: publish_to_registry
    runs-on: ubuntu-latest
    if: always()
    steps:
      - uses: technote-space/workflow-conclusion-action@v2
      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ env.WORKFLOW_CONCLUSION }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

